@model List<Order>

@{ 
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h5>List of all Orders</h5>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th class="align-middle">Order ID</th>
                    <th class="align-middle">Items</th>
                    <th class="align-middle">Total</th>
                    <th class="align-middle">User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">@item.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none">
                            @foreach (var orderItem in item.OrderItems)
                            {
                                <li class="alert alert-info" role="alert">
                                    <span class="badge bg-success">@orderItem.Amount</span> [@orderItem.Price.ToString("c")] - @orderItem.Movie.Name
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">@item.OrderItems.Select(m => m.Price * m.Amount).Sum().ToString("c")</td>
                    <td> - </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
