<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h5>Order Completed successful</h5>
        <p>You can check all your orders on the orders section of your profile</p>
        <hr />
        <p>Thank you! </p>
    </div>
</div>
